
*.db
*.pyc
src/assignment.db
src/classes/__pycache__/consultant.cpython-312.pyc
src/classes/__pycache__/menu.cpython-312.pyc
src/classes/__pycache__/user.cpython-312.pyc
src/assignment.db
src/classes/__pycache__/consultant.cpython-312.pyc
src/db/__pycache__/db_connection.cpython-312.pyc
*.db
*.pyc
